---
import EmailPreviewer from '../components/EmailPreviewer.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Preview</title>
    <link rel="stylesheet" href="/src/styles/previewer.css">
  </head>
  <body>
    <h1>Email Previewer</h1>
    <EmailPreviewer client:load/>
  </body>
</html>
